* {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

a {
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f1f5f9;
  background-position: center;
  background-size: 100% 100%;
}

.indicator {
  width: calc(50% - 20px);
  height: 50px;
  background-color: black;
  position: absolute;
  z-index: 2;
  transition: all 1s;
  border-radius: 10px;
}